.sign-up {
  background-color: #007ead;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}


.sign-up__container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  max-width: 500px;
  width: 100%;
}


.sign-up__title {
  color: #786bb1;
  font-family: sans-serif; /* IGNORE */
  font-size: 25px;
  font-weight: bold; /* IGNORE */
  margin: 0 0 2rem;
  text-align: center;
}

.sign-up__login-cta {
  margin-top: 1rem;
  text-align: center;
}

.sign-up__login-cta a {
  color: #786bb1;
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input {
  border: solid black;
  border-width: 0 0 1px 0;
  font-size: 1rem;
  height: 35px;
}


.form-input-error {
  color: red;
}

.form-button {
  align-self: center;
  margin-top: 35px;
  background-color: #786bb1;
  border-radius: 0.75rem;
  border: 0;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-size: 21px;
  padding: 10px 45px 10px;
  width: 250px;
}

.form-button:hover:not(:disabled),
.form-button:active:not(:disabled),
.form-button:focus:not(:disabled),
.form-button:focus-visible:not(:disabled) {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* // I've adjusted this to more common disabled styling so the user can tell whats going on here */
.form-button:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
  pointer-events: none;
}