.delay {
    width: 25%;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border: 3px black solid;
    border-radius: 25px;
    display: grid;
    grid-template-areas:
        "header header"
        "slider1 time"
        "slider2 feedback"
        "slider3 amount"
        "submit submit";
}
.header {
    grid-area: header;
}
.slider1 {
    grid-area: slider1;
}
.time {
    grid-area: time;
    padding-left: 10px;
}
.slider2 {
    grid-area: slider2;
}
.amount {
    grid-area: amount;
    padding-left: 10px;
}
.slider3 {
    grid-area: slider3;
}
.feedback {
    grid-area: feedback;
    padding-left: 10px;
}
.submit {
    grid-area: submit;
    text-align: center;
}
.slider {
    width: 100%;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.button {
    background-color: #2600ff;
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.slider:hover,
.button:hover {
    opacity: 1;
}
