.delay {
    width: 100%;
    padding: 10px;
    background-color: var(--color-white-100);
    border-radius: 10px;
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header header"
        "time slider1"
        "feedback slider2 "
        "slider3 amount"
        "submit submit";

    &_header {
        grid-area: header;
    }
    &_slider1 {
        grid-area: slider1;
    }
    &_time {
        grid-area: time;
    }
    &_slider2 {
        grid-area: slider2;
    }
    &_amount {
        grid-area: amount;
    }
    &_slider3 {
        grid-area: slider3;
    }
    &_feedback {
        grid-area: feedback;
    }
    &_submit {
        grid-area: submit;
        text-align: center;
    }
    &_slider {
        width: 100%;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        &:hover {
            opacity: 1;
        }
    }
    &_button {
        background-color: rgb(55, 154, 230);
        border-radius: 5px;
        color: white;
        border: 1px white solid;
        padding: 5px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        &:hover {
            opacity: 1;
        }
    }
}
