.musictool {
    margin: 10px 10px;
    padding: 10px 10px;
    width: 90%;
    display: grid;
    grid-template-areas:
        "blank blank blank header header effects effects"
        "side side2 sequencer sequencer sequencer effects effects"
        "side side2 sequencer sequencer sequencer reverb reverb"
        "side side2 sequencer sequencer sequencer delay delay";
    &_header {
        grid-area: header;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &_side {
        grid-area: side;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    &_side2 {
        grid-area: side2;
        width: 200px;
        padding-top: 26px;
        letter-spacing: 1vh;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    &_sequencer {
        margin-left: -50px;
        padding: 0;
        width: fit-content;
        grid-area: sequencer;
        z-index: 2;
    }
    &_sequencer2 {
        margin-left: -50px;
        padding: 0;
        width: fit-content;
        grid-area: sequencer;
        z-index: 2;
        visibility: hidden;
    }
    &_sequencer3 {
        margin-left: -50px;
        padding: 0;
        width: fit-content;
        grid-area: sequencer;
        z-index: 2;
        visibility: hidden;
    }
    &_effects {
        grid-area: effects;
    }
    &_reverb {
        grid-area: reverb;
    }
    &_delay {
        grid-area: delay;
    }
}
