.musictool {
    margin: 10px 10px;
    padding: 10px 10px;
    width: 90%;
    display: grid;
    background-color: rgb(197, 209, 247);
    grid-template-areas:
        "blank blank header effects"
        "side side2 sequencer reverb"
        "side side2 sequencer delay"
        "side side2 bottom ebottom";
    &_header {
        grid-area: header;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    &_bottom {
        margin-top: 10px;
        grid-area: bottom;
        text-align: center;
        width: 350px;
    }
    &_side {
        grid-area: side;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    &_side2 {
        grid-area: side2;
        width: 200px;
        padding-top: 26px;
        letter-spacing: 1vh;
        border: 1px solid black;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    &_sequencer {
        margin-left: -50px;
        padding: 0;
        width: fit-content;
        grid-area: sequencer;
        z-index: 2;
    }
    &_sequencer2 {
        margin-left: -50px;
        padding: 0;
        width: fit-content;
        grid-area: sequencer;
        z-index: 2;
        visibility: hidden;
    }
    &_sequencer3 {
        margin-left: -50px;
        padding: 0;
        width: fit-content;
        grid-area: sequencer;
        z-index: 2;
        visibility: hidden;
    }
    &_effects {
        grid-area: effects;
    }
    &_reverb {
        grid-area: reverb;
    }
    &_delay {
        grid-area: delay;
    }
    &_selector {
        border-radius: 50px;
        padding: 10px 30px;
        width: 150px;
        background-color: rgb(108, 139, 235);
        color: white;
        border-color: rgb(108, 139, 235);
        border-style: solid;
    }
}
.tooltip-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.tooltip-trigger {
    cursor: pointer;
}
