.musictool {
    padding: 25px;
    display: flex;
    &-main {
        background-color: var(--color-white);
        border-radius: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    &-header {
        grid-area: header;
        padding: 20px;
        margin-bottom: 20px;
    }
    &-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    &-button {
        border: 1px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 5px;
        background-color: var(--color-white);
        color: var(--color-primary);
        box-shadow: 0 0 2px var(--color-primary-lightest),
            0 0 10px rgba(167, 158, 204, 0.5);
    }
    &-button:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        box-shadow: 0 0 2px var(--color-primary-lightest),
            0 0 10px rgba(167, 158, 204, 0.5);
    }
    &-side {
        align-self: flex-start;
        background-color: var(--color-white);
        padding: 10px;
        border-radius: 10px;
    }
    &-side2 {
        align-self: flex-start;
        padding-top: 12px;
        padding-left: 10px;
        line-height: 50px;
        text-align: center;
        width: 100px;
    }
    &-playbutton {
        width: 250px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        background-color: var(--color-primary);
    }
    &-playbutton:hover,
    &-playbutton:focus-within {
        background-color: var(--color-primary-darkest);
    }
    &-sounds {
        width: 100%;
        padding: 10px;
        background-color: var(--color-white-100);
        border-radius: 10px;
        margin-top: 10px;
        display: grid;
        gap: 10px;
        grid-template-areas:
            "header header"
            "octave oinput"
            "synth sinput"
            "sampler1 samp1input"
            "sampler2 samp2input";
        &-header {
            grid-area: header;
        }
        &-octave {
            grid-area: octave;
        }
        &-synth {
            grid-area: oinput;
        }
        &-sampler1,
        &-sampler2 {
            grid-area: oinput;
            visibility: hidden;
        }
        &-synthlabel {
            grid-area: synth;
        }
        &-samp1label {
            grid-area: sampler1;
        }
        &-samp2label {
            grid-area: sampler2;
        }
        &-synthinput {
            grid-area: sinput;
        }
        &-samp1input {
            grid-area: samp1input;
        }
        &-samp2input {
            grid-area: samp2input;
        }
    }
    &-sampler {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-left: 10px;
    }
    &-body {
        display: flex;
        padding: 10px;
    }
    &-selector {
        width: 205px;
        border-radius: 10px;
        height: 40px;
        background-color: var(--color-white-100);
        color: var(--color-black-100);
        border: 0;
        margin: 5px;
        &-white {
            background-color: var(--color-white);
            color: var(--color-primary);
            border: 0;
            width: 205px;
            border-radius: 10px;
            height: 40px;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-white:hover {
            box-shadow: 0 0 5px var(--color-primary),
                0 0 10px rgba(167, 158, 204, 0.5);
        }
    }
    &-selector:hover,
    &-selector-selected:hover {
        box-shadow: 0 0 5px var(--color-primary-lightest),
            0 0 10px rgba(167, 158, 204, 0.5);
    }
    &-selector-selected {
        width: 205px;
        border-radius: 10px;
        height: 40px;
        background-color: var(--color-primary-dark);
        color: var(--color-white);
        border: 0;
        margin: 5px;
    }
    &-sequencer {
        padding-left: 100px;
        width: fit-content;
        position: absolute;
    }
    &-sequencer2,
    &-sequencer3 {
        padding-left: 100px;
        width: fit-content;
        visibility: hidden;
        position: absolute;
    }
    &-stepsequencer {
        padding-top: 10px;
        height: 490px;
        width: 520px;
        display: flex;
        background-color: var(--color-white-100);
        border-radius: 10px;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
    }
    &-bottom {
        padding-left: 130px;
        padding-top: 20px;
        letter-spacing: 1.1em;
        padding-bottom: 20px;
    }
}
.tooltip-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.select-container {
    display: inline;
    position: relative;
    margin-left: 10px;
}
.redBeat {
    color: red;
    display: inline-block;
    white-space: nowrap;
}
.beat {
    display: inline-block;
    white-space: nowrap;
}
.redBeat:not(:last-child),
.beat:not(:last-child) {
    margin-right: 25px;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}

.toolbox {
    display: none;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 5px;
    position: absolute;
    width: 250px;
}

.toolbox::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
}

.tooltip-trigger {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 12px;
    cursor: pointer;
}

.tooltip-trigger:hover + .toolbox,
.toolbox:hover {
    display: block;
}

.tooltip-trigger:focus-within + .toolbox,
.toolbox:focus-within {
    display: block;
}
