@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&family=Varela+Round&family=Young+Serif&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: #15171c;
    height: 100px;
/* // justify-content: flex-start; */


}
.logo img {
    width: 70px;
    height: 55px;
    margin-left: 20px;

    padding-bottom: 10px;
    padding-top: 10px; 
}
.title{
    text-align: center;
    margin-left: auto;
    color: white;
    font-family: "Varela Round";
    text-transform: uppercase;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links a {
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

.active-nav-link {
    font-weight: 600;
    color: #786bb1;
}
